/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-500.woff') format('woff');
}

/* Rubik */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.live {
  max-width: 1280px;
  margin: 44px auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}




.head-item {
  list-style-type: none;
  display: flex;
}

.head-list {
  margin-left: 33px;
  font-size: 12px;
  line-height: 15px;
  color: #83888f;
  cursor: pointer;
}
h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}



.navbar-text {
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
}

.navbar-btn {
  width: 217px;
  height: 56px;
  background: #66d2cf;
  border-radius: 6px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: none;
}

.navbar-left {
  max-width: 493px;
  transform: translate(86px, 100px);
}
.coll-item {
  max-width: 290px;
}

.navbar {
  background-image: url(../image/imagee2.png);
  border-radius: 7px;
  width: 1280px;
  height: 600px;
}

.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-117px);
}

.item-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.coll-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.gradiant {
  font-size: 210px;
  background: -webkit-linear-gradient( rgb(71, 70, 70), #eee  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 140px;
}

.work {
  height:577px;
  background-color: #161f2e;
  border-radius: 7px;
}

.work-head {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  padding-top: 100px;
}

.work-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8; 
  padding-top: 32px;
  width: 540px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  margin-left: 85px;
  transform: translateY(-215px);
}

.list {
  width: 350px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
  margin-right: 30px;
}

.list-img {
  margin: 72px 143px 56px 136px;
}

.list-head {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.list-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 255px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
}